.file-browse {
  position: absolute;
  height: 100%;
  width: 150px;
  background-color: #202227;
  z-index: 10;
  color: white;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: scroll;
  .side-menu {
    display: flex;
    flex-direction: column;
    .title {
      margin-bottom: 5px;
      background-color: #313131;
      font-size: 12px;
      padding-left: 12px;
      text-transform: capitalize;
      border-bottom: 1px solid #4f4f4f;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        border-bottom: 2px solid white;
        border-left: 2px solid white;
        right: 20px;
        height: 5px;
        width: 5px;
        display: flex;
        align-items: center;
        top: 3px;
        transform: rotate(-45deg);
      }
    }
    height: 100%;
    .btn-container {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100%;
    }
    .files {
      // height: 80%;
      .file-view {
        margin: 0px;
        margin-left: 20px;
        padding: 0;
      }
    }
    .actions {
      height: 180px;
      display: flex;
      flex-direction: column;
      transition: height 0.2s ease;
      overflow: hidden;
      &.collapse {
        height: 15px;
        .btn-container {
          display: none;
        }
      }
      .btn-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  li {
    position: relative;
    margin: 5px 0px;
    border: none;

    li {
      position: relative;
      left: 10px;
      border: none;
    }
  }
  span {
    height: 12px;
    width: 12px;
    background-size: cover;
    position: absolute;
    left: -15px;

    &.file {
      &.js {
        background-image: url("../../assets//images//js.png");
      }
      &.html {
        background-image: url("../../assets//images//html.png");
      }
      &.css {
        background-image: url("../../assets//images//css.png");
      }
      &.py {
        background-image: url("../../assets//images//python.png");
      }
      &.txt {
        background-image: url("../../assets//images//txt.png");
      }
    }

    &.folder {
      background-image: url("../../assets//images/folder.png");
    }
  }
}

.challenge-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 27px;
  height: 35px;
  .btn-group {
    display: flex;
    justify-content: space-between;
    width: 200px;
  }
}

.challenge-container {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  .left {
    // position: relative;
    position: absolute;
    left: 0;
    height: 100vh;
    width: 50%;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .right {
    // position: relative;
    position: absolute;
    right: 0;
    height: 100vh;
    width: 50%;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .editor-bottom {
    height: 100%;
    width: 100%;
    position: relative;
    &.iframe {
      // z-index: -1;
    }
    label {
      position: absolute;
      top: 0;
      right: 10px;
      padding: 11px;
      background-color: #56545459;
      border-radius: 5px;
      font-size: 13px;
      color: orange;
      font-weight: 500;
    }
  }
  .editor-top {
    height: 100%;
    width: 100%;
    position: relative;
    label {
      position: absolute;
      top: 0;
      right: 10px;
      padding: 11px;
      background-color: #56545459;
      border-radius: 5px;
      font-size: 13px;
      color: orange;
      font-weight: 500;
    }
  }

  .divider {
    position: absolute;
    height: 100vh !important;
    width: 2px;
    background-color: #9e9e9e29;
    cursor: move;
    z-index: 10;
  }

  .dividerY {
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #9e9e9e29;
    cursor: move;
    z-index: 10;
    top: 50%;
  }

  #iframe {
    height: 100%;
    width: 100%;
  }
}
