button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 1px solid;
  outline: none;
  &.rounded {
  }
  border-radius: 15px;
  padding: 10px;
  &.empty {
    border: 1px solid;
  }
  &.full {
  }
}
