@import "../../main.scss";
html {
  scroll-behavior: smooth;
}
.dark {
  $main-font-color-light: blue;
  $main-font-color-dark: orange !important;
  $light-gray: rgb(248, 249, 250);
  $size-m: 10200000px;
  $main-bg-color: #282c34;

  .app-brand {
    div {
      background-image: url("../../assets/images/logo-white.png") !important;
    }
  }
  .content {
    background-color: $main-bg-color;
    .left {
      .app-header-navigation {
        a {
          color: $main-font-color-dark;
        }
      }
    }
    .right {
    }
  }
  .app-header-container {
    background-color: $main-bg-color !important;
  }
}

.app-layout {
  .content {
    transition: background-color 0.7s ease;
    position: absolute;
    height: 100vh;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  .app-header-container {
    position: fixed;
    border-bottom: 1px solid #b3b1b130;
    top: 0;
    left: 0;
    right: 0;
    background-color: $main-font-color-dark;
    z-index: 1;
  }
  .app-header {
    height: 64px;
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    font-size: 14px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin: auto;
    position: relative;

    &.coding {
      height: 30px;
      margin: 0;
      padding: 0;
      width: 100%;
      .logo {
        height: 30px !important;
        width: 30px !important;
      }
    }

    .left {
      display: flex;
      align-items: center;
      .app-header-navigation {
        a {
          padding: 0 12px;
          text-decoration: none;
          color: $main-font-color-light;
        }
      }
      .app-brand {
        div {
          background-image: url("../../assets/images/logo-black.png");
          height: 50px;
          width: 50px;
          background-size: contain;
          border: none;
          cursor: pointer;
        }
        .logo {
          position: relative;
          a {
            position: absolute;
            height: 100%;
            width: 100%;
          }
        }
        &.margin-medium {
          margin-right: $size-m;
        }
      }
    }

    .right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      div {
        margin: 0 10px;
      }
      button {
        margin: 0 10px;
      }
    }
    &.app-header-action {
    }
  }

  .layout {
    position: relative;
    top: 60px;
    height: calc(100vh - 86px);
    width: 100vh;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin: auto;
    margin-top: 18px;
    top: 83px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .editor {
    position: absolute;
    top: 33px;
    bottom: 0;
    left: 0;
    right: 0;
  }
  @media screen and (max-width: 1025px) {
    .layout {
      width: 70vh;
    }
  }
}
