.ace_print-margin {
  visibility: hidden !important;
}

.ide-container {
  position: relative;
  height: 0;
  transition: height 0.7s ease;
  &.hidden {
    height: 0 !important;
  }
  &.code {
    // position: absolute;
    right: 0;
    /* top: 0; */
    // width: 46%;
    // height: 75%;
    width: 100%;
    height: 100%;
    .ace_gutter-layer {
      background-color: #1c1e23;
      // width: 30px !important;
    }
    .ace_gutter {
      z-index: 0;
      width: 36px !important;
      display: flex;
      align-items: center;
      flex-direction: column;
      font-size: 12px;
    }
    .ace_active-line {
      background-color: transparent;
    }
  }

  &.terminal {
    // height: 30%;
    height: 100%;
    background-color: #312f2f;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }

  .ace-monokai .ace_marker-layer .ace_active-line {
    background: transparent;
  }
}
